[2018-06-08 21:11] mspanish opened #1 "where do I edit the snippets?"
hi lovely extension! I tried adding js snippets via the snippets manager and they don't show up in your extension - how do I add snippets directly to it?

[2018-06-09 12:38] yatki commented on #1
Hey @mspanish, thank you very much for your feedback :))

This extension doesn't use vscode snippet definitions. To Add a new snippet you can go to "Settings" and search for `surround.custom`. And edit it like below:

[code]

I hope this helps. ✌️

[2018-06-09 12:55] #1 closed

[2018-06-23 14:16] johnknoop opened #2 "Indentation"
Hi. Great extension!

It would be even greater if the inserted code would have the same indentation as the surrounding code.

/john

[2018-06-24 10:47] tng2903 opened #3 "Custom surround doesn't seem to work"
Hello, I'm trying to add a new custom surround snippet as below

    "surround.custom": {
        "yourCommandName": {
            // label must be unique
            "label": "Your Snippet Label",
            "disabled": false,
            "description": "Your Snippet Description",
            "snippet": "burrito { $TM_SELECTED_TEXT }$0" // <-- snippet goes here.
          },
    },

Yes, it's ac

[2018-06-25 14:14] #3 closed

[2018-06-25 14:24] yatki commented on #3
@tng2903 Thank you very much for reporting the issue.

You were doing nothing wrong. There was a weird bug but it should be fixed with v1.0.2.

Please update the extension and let me know if you are experiencing the same issue :)

Have a great week.

[2018-06-25 14:35] yatki commented on #2
Hey @johnknoop

Thanks a lot for your feedback :) Nice to hear that you liked it.

Regarding your suggestion, i don't know if I understand your suggestion correctly but I don't think that is the most common use case. The default wrappers that I introduced are mostly reqires indentation for their content. Most style guides or formatters follow that rule at least. So I'd like to stick with that styl

[2018-06-25 14:36] #2 closed

[2018-08-26 05:42] FredyC opened #5 "Custom surround not recognized"
I've noticed #3 and I do have 1.0.2 installed. Yet the following is not shown among the _Surround with_ offer.

[code]

[2018-08-27 08:59] yatki commented on #5
Hey @FredyC, please try to provide disabled: `false` as a **boolean** parameter. You are providing non-empty string which is truthy.

[2018-08-27 08:59] #5 closed

[2018-08-31 07:55] Flamefire opened #6 "Hide or remove some of the surrounds"
I want to use this extension for C++ and code in C++ only. Is it possible, to hide or remove some of the surround commands when working with C++?

Not sure if possible, but what would be great is a list of languages one can set for each surround and when the current language is different the command won't show up. E.g. all the JS only commands do not make any sense in C++

[2018-09-12 02:42] oheydrew opened #8 "Feature Request: Indentation"
Referencing issue #2 (indentation):

Great work on the extension. It'd still be fantastic if we could somehow set the indentation to match the current selection's indentation. I see you've ruled it out as "not being part of the use case" - but I respectfully disagree.

I've taken your extension and written a few wrappers for ruby methods, and Rspec tests, and it's great!  But I've found when I'm w

[2018-09-12 16:32] yatki commented on #8
Hey @oheydrew, thank you very much for your message. I'm glad to hear that it's useful for you.

I'm a bit confused because I think extension already should be working as you described. Here, I recorded an example on my pc.
![saq8y-wf7hw](https://user-images.githubusercontent.com/26697004/45439273-a2b86a80-b6b9-11e8-9c6f-42e3bf28bcd0.gif)

Please let me know if I'm missing something.

Could you pl

[2018-09-12 16:38] yatki commented on #6
It's better to leave the issue open, to remind myself to do this in near future :)

[2018-10-08 08:47] capaj opened #9 "default key shotrcut overrides the open last closed file"
wouldn't it be nicer to have a different default shortcut?
Like ctrl+shift+u for example?

ctrl+shift+t is for opening last closed item which many people use-it's the same in the browser too.

[2018-10-08 09:40] yatki commented on #9
@capaj Thank you very much for the issue and submitting the PR.

You are totally right about that. I considered to use other shortcuts as well before publishing the extension but shortcuts always can conflict with each other with new releases and especially with other extensions.

So I prefer to leave it as it is for the moment since it's really easy to reassign it.

[2018-10-08 09:40] #9 closed

[2019-02-07 01:25] atscripter commented on #6
@yatki Thank you for a great extension, excellent work!

I have a similar request to this one but is not language-specific. Can you add the ability to simply un-surround a block of code?

[2019-02-07 08:56] yatki commented on #6
@atscripter Hmm that's an interesting request and I think we should discuss it in a separate issue.

But just to give a quick feedback, I think it's gonna be really hard to implement such feature because code blocks can be surrounded by various statements and It's really tricky to make a stable code deletion.

Could you please share a bit more detail about what's in your mind (in a separate issue)

[2019-02-07 19:01] atscripter opened #13 "Feature Request - Un-Surround"
Un-Surround functionality would simply remove whatever clause surrounding a selected block of code.

[Demo](https://i.imgur.com/i6ktmLp.gif)

[2019-02-07 19:03] atscripter commented on #6
@yatki

As requested, here's a feature request with a demo: https://github.com/yatki/vscode-surround/issues/13

[2019-02-14 10:39] yatki commented on #13
@atscripter, sorry for late response. I was thinking about this feature request for a while now.

It really sounds interesting at first glance, but I've asked several developer friends of mine and almost all of them prefers to delete parent closures manually, either with copying the content and pasting over the closure or manually deleting the lines.

So I don't think it is worth the time to devel

[2019-02-14 10:39] #13 closed

[2019-04-13 22:37] sepehrooo commented on #3
Hi there,
I'm on V1.0.2 and the demo from your readme is still not working for me. Here's what I put in settings.json:

[code]

[2019-04-14 00:22] yatki commented on #3
@sepehrooo I just checked it and looks like it's working fine. Can you make sure there are no comma issues etc. as long as JSON format is correct the configuration you copied here should work fine.

[2019-04-15 11:46] jehillert opened #47 "Possible to add shortcut for template literal interpolation?"
Hi,
Would it be possible to add a command and shortcut for interpolating selected text inside an ES6 template literal?  It was not too hard to add it myself using your surround.custom template, but I bet people would love it as a default. I spent about an hour looking through the extension Marketplace and could not find one that did it.

    "surround.custom": {
      "interpolateTemplateLiteralSu

[2019-04-15 11:55] yatki commented on #47
I like the idea. I'll add it and publish it as soon as i have time.

[2019-04-15 11:57] jehillert commented on #47
Awesome.  Thank  you sir.

[2019-05-07 08:41] ypapouin opened #49 "Add support for recently used"
Feature request, it would be nice to add support for _recently used_ like VSCode does for the **Command Palette**

[2019-05-07 09:09] yatki commented on #49
Loved the idea. I may introduce a `sort` option, to allow users to sort by name or recentUsage. I'll work on this asap.

[2019-06-04 10:17] jestrux opened #50 "Add support for IIFEs"
Thank you for the plugin,

I was recently working on an old AngularJS project and a lot of the code wasn't IIFE-ed....I wrote a custom wrapper for IIFEs and I thought since it's a popular javascript pattern, you might want to add it to the main wrappers.

Here is my implementation:
[code]

[2019-06-04 10:19] yatki commented on #50
@jestrux Thank you very much for the suggestion. Loved it. I'll include it to the next release.

[2019-06-04 10:22] jestrux commented on #50
Hey, you're fast, hadn't even closed this page yet. Glad you liked the suggestion, really easy to use and customize plugin you have here.

[2019-09-17 14:29] gabsinator opened #51 "Custom surround not recognized"
Love the extension, just what I was looking for, need some help, not sure what I'm doing wrong, I just can't get it to recognize custom surrounds.

I have the following in my user settings.json:

I'm on v1.0.2
[code]

 - The built in commands work, just not the custom ones.

![image](https://user-images.githubusercontent.com/1658284/65050699-1c87d180-d968-11e9-8b39-d172f878a04e.png)
![image](https

[2019-09-17 14:38] gabsinator commented on #51
ah! found them under the Quick Pick "surround.with (ctrl+shift+T)" in the command palette.
I was looking under the main list and excpected to find a surround.with.custom / surround.with.mycommand there
![image](https://user-images.githubusercontent.com/1658284/65051192-f878c000-d968-11e9-9d37-df975515920a.png)

sorry, and thanks for this :)

[2019-09-17 14:38] #51 closed

[2019-09-17 14:38] yatki commented on #51
@gabsinator hmm, It works perfectly fine with me. Did you try to switch to another tab after applying the settings or restart vscode ? If so which vscode version are you using?

[2019-09-17 14:38] yatki commented on #51
Ah ok. Thanks for the feedback. Cheers, 🖖

[2019-09-24 13:40] ylc395 commented on #8
Auto Indentation seems not to work on my PC, too. Does this feature depend on any setting or something?

[2019-09-26 08:07] uponatime2019 opened #52 "Can't open settings"
When I go to settings, search surround with and open a setting it open a settings.json file and not related to surround extension (latest vscode version)

[2019-09-26 09:19] yatki commented on #52
Hey @HelloWindowsPhone, sorry I'm not sure if I understood your problem correctly but when you open settings in the JSON view, you can start typing "surround.with." to access settings for existing commands. If you need to add a new command then you have to **copy** and **paste** the code below and **rename** some of the parts as you need.

I hope this helps 🖖

[code]

[2019-09-26 09:31] HelloWindowsPhone commented on #52
I make a video to describe issue here. It can't get to the extension settings https://youtu.be/sfyhlDouMpU

[2019-09-26 09:42] yatki commented on #52
By the way, if you need to configure a certain command, open the JSON editor. Start typing "surround.with" and press TAB key to auto-complete the setting.

[2019-09-26 15:58] HelloWindowsPhone commented on #52
I'm a beginner VSCode user so I always using Settings UI. Thanks I will use JSON editor for configure Surround

[2019-10-08 14:22] koffielyder opened #53 "Can't use "$" in custom snippet"
I am trying to create a snippit for time logging of a function

`$start = microtime(true); { $TM_SELECTED_TEXT }$0 $time_elapsed_secs = microtime(true) - $start;`

When i use it it removes the variables (eg $start) i can understand that it works this way but is there any way to show the variable?

[2019-10-08 15:21] yatki commented on #53
Hmm could you please try the snippet below:

[code]
I think you have to escape the dollar signs.

[2019-10-08 16:03] #53 closed

[2019-10-08 16:10] koffielyder commented on #53
I already tried that but then it just doesn't write the $

[2019-10-08 16:11] yatki commented on #53
Did you try the snippet I just shared? It worked for me... If you still have the problem, could you share your configuration?

[2019-10-08 16:33] koffielyder commented on #53
Oh sorry didn't see the double slash I'll try it Thursday when I'm back at the office but I'm sure if it works for you it will work for me, thank you for your help and for the plug-in!

[2019-10-10 07:56] koffielyder commented on #53
Yup the double slash did the trick thx for the support!

[2019-11-21 05:38] sytelus opened #55 "Python support"
It would be great to get python support!

[2019-11-21 10:57] yatki commented on #55
Hey @sytelus, thanks for the feedback.

You are right there are no multiple language support at the moment. https://github.com/yatki/vscode-surround#known-issues

However, there are a few workarounds to have multiple language support.

I'm already considering to add language support for the snippets in the new version, until then I hope this helps.

[2019-11-21 10:57] yatki commented on #55
duplicate #6

[2019-11-21 10:57] #55 closed

[2019-12-07 14:44] RogerRU commented on #52
Could you explain (for noobs :-) ) in more detail how to open the JSON editor and edit the settings. Thanks.

[2019-12-07 15:21] yatki commented on #52
Hey @RogerRU,

After Opening Settings you can click on the JSON editor icon on the right top of vscode editor.

![image](https://user-images.githubusercontent.com/26697004/70376798-2557c600-190d-11ea-946c-8a1a392d95bc.png)

After than as soon as you start typing surround vscode will guide you to write your configuration.
![image](https://user-images.githubusercontent.com/26697004/70376828-85e70300

[2019-12-07 17:33] RogerRU commented on #52
Thnx!!!

[2019-12-19 11:05] bmix opened #56 "Automatically surround selected text"
Is it possible to have selected text surrounded automatically from a limited set of characters?

Let's assume I have the symbol `foobar` and want it to become `"foobar"`. So I would select it and just type (without opening up the "surround with" menu) `"` and the result would be an automatic surrounding with a starting and an ending `"`.

It would make sense (configurable) for:

- `"` -> `"`
- `'`

[2019-12-19 11:10] yatki commented on #56
Hey @bmix,

All the surround options except the last 3 are already supported by vscode (at least for js). So, you don't need an extension for them. However, for the last 3, you can use this extension. So the answer is YES.

Please check https://github.com/yatki/vscode-surround#adding-new-custom-wrapper-functions to add your custom functions.

As an example:
[code]

Cheers,

[2019-12-19 11:31] #56 closed

[2019-12-31 06:10] bmix commented on #56
Great! Thanks for pointing out.

But can I use your proposed solution (using 'yatki/vscode-surround#adding-new-custom-wrapper-functions') without bringing up the menu? By just typing the configured starting character? That would be really great!

[2020-02-07 18:21] mschmidtkorth opened #57 "If no results found, take search input as default"
**Problem:** Typically you have snippets for your most used functions. However, sometimes you might want to surround something with a function you rarely use, that is new etc.

**Idea:** If the search returns no results, offer the user to use the search term literally and wrap the selected text in (selection)
- `$SEARCH_TERM($TM_SELECTED_TEXT)$0`
- `$SEARCH_TERM[$TM_SELECTED_TEXT]$0`
- `$SEARCH_TE

[2020-02-08 00:45] yatki commented on #57
Hmm. @mschmidtkorth thank you very much for the idea. It sounds interesting for sure. I'll check if there is an existing solution for this in vscode and if not, see what I can do about this.

Cheers,

[2020-02-08 07:49] gauravmak commented on #6
Very useful package. Thanks.

[2020-02-16 22:01] FletcherGoss commented on #6
A possible solution to solve this is a `languages` field. It should be an array of strings as some languages have a similar syntax.

You can compare this array against the file the user is currently in to determine which wrappers to show, or to display near the top.

If possible, wrappers should be able to share a name as long as none of their languages match, or one doesn't have language specifie

[2020-02-17 00:08] yatki commented on #6
@FletcherGoss thanks for your interest. Actually finally I have more time to focus back on this extension and I'm happy to say that I'll be working on this issue starting from tomorrow.

I'll see what I can do with also using existing vscode features. But this can definitely be done :)

Cheers,

[2020-03-12 00:49] sschnoor commented on #52
Hi @yatki .

I'm hoping to remove all of the shortcuts you placed in there and use my own.  It seems that what you suggested RogerRU do would be the way to do that, however, when I follow those instructions it takes me to the settings.json file, but I don't see any way to delete say the surround.with.if option?  This is what I see,

![image](https://user-images.githubusercontent.com/12835879/76476

[2020-03-12 07:22] yatki commented on #52
@sschnoor you can use the `disabled: true` to disable the snippets.

[2020-03-12 14:58] sschnoor commented on #52
@yatki Thanks.  I realized I misread your instructions to RogerRU.  I see that just typing "surround.with...." in the editor brings up the dialog and the ability to enter disabled: true.  I'm good ! Thanks!

[2020-06-15 16:41] erralb opened #58 "Place cursor in snippet"
Hi, and thanks for this really useful extension.

Is it possible to place the cursor in the snippet, something like $TM_SELECTED_TEXT, but instead (or both) having the cursor placed somewhere instead of at the end of the inserted snippet ?

(Basically, I would like to add the snippet then hit paste to copy something inside)

Cheers

[2020-06-16 12:05] orblazer opened #59 "Publish extensions to open-vsx"
I'm a [VS Codium](https://github.com/VSCodium/vscodium) user, a FLOSS version of VS Code, it's the same code but without the Microsoft's telemetry and branding.
I want to request if possible to add the _Surround_ extension on the [open-vsx.org](https://open-vsx.org/) market to us doesn't need to works with the Microsoft marketplace as is unclear if it's legal to use it on VS Code forks, see [here]

[2020-08-20 20:27] yatki commented on #59
@orblazer Thank you for the issue. I'll do it soon :)

[2020-10-05 15:09] merdz21snchz opened #61 "Surround with Region support for C#"
Is it possible to remove the line comment on the start and end region directives in C#?

From:
**_// #region
...
// #endregion_**

To:
**_#region
...
#endregion_**

TIA.

[2020-10-17 23:50] Tiencrypt commented on #50
tovantien15121995@gmail.com

[2020-11-19 22:03] sdunnin opened #62 "Surround With <element>replacement state"
When performing a Surround With: <element></element> and after the insertion is completed the editor is left in Column Select Mode with a cursor at both the opening and closing inserted elements

[2020-11-20 15:27] sdunnin commented on #62
To expand on my first comment a bit. When finished entering the tag or element name it would be nice if you could finish the operation with a enter or tab versus having to press esc twice to exit column select mode. Additionally, it would be nice if upon completion it was able to format the selection or at least the document.

[2020-12-05 15:15] RomanKornev opened #63 "Invalid config deadlocks VSCode menus"
Putting something invalid in `surround.custom`, like:
[code]
and then trying to use Surround hangs the extension.
As a result, VSCode Command Palette can't function. None of the menus work. Only solution is to kill/restart VSCode itself.

[2020-12-07 12:13] yatki commented on #63
Thank you very much for the issue.  I can see that these kinds of problems can be really annoying sometimes.

However, I think putting the right config in the config file is the developer's responsibility. As you might agree, I cannot foresee every invalid config and since the right way is documented in the readme file, unfortunately, I don't think it deserves the effort to fix it.

Regarding the

[2020-12-07 12:13] #63 closed

[2020-12-28 11:57] rose-a commented on #6
I'd also find "language support" very useful... maybe you could get some inspiration from vs code snippets... There is a `scope` field there where you can declare for which language the snippet should be displayed. If left empty then its available in all languages (this would also be a backwards-compatible approach).

[2021-02-20 03:15] royappa opened #64 "Automatically maintain indent level"
If you surround an already indented piece of code, the new lines are added with no indentation.
It would be great if the new lines could be at the current indentation level, and then the surrounded code indented one level inside it. Thanks.

[2021-03-09 00:27] heartacker opened #65 "support multi lang snippet according to resourceLangId"
for example: when current document is c/cpp file. surround will insert snipest for c/cpp. `resourceLangId==cpp`

[2021-04-08 10:53] woodgear commented on #6
i want to "language support" either...,it truly useful,without it,i have to add prefix like "go-" or "rust-" in all of my snippets

[2021-04-19 11:50] yatki commented on #57
Hey @mschmidtkorth, again thank you very much for the idea. I started to work on this issue and it's not hard to add this feature. However, after giving it a thought, I couldn't come up with a really useful case for this feature. If someone needs to type the same thing over a selection they can use the multiple cursor feature of vscode or create a snippet.

I think the best feature is no feature a

[2021-04-19 11:50] #57 closed

[2021-04-19 13:34] yatki commented on #62
Hey @sdunnin, Thank you very much for the issue. The issue you are describing is actually what I intended to achieve. So we are facing a "It's not a bug, it's a feature" situation 😅

So the idea is:
1. You wrap your text with an element.
2. You type your element's name (so the close tag is also written).
3. You hit the tab key and start writing attributes. If you don't need to write attributes hit

[2021-04-19 13:34] #62 closed

[2021-04-19 13:36] #52 closed

[2021-04-19 13:39] yatki commented on #58
Hey @erralb, sure it's possible. You can edit the snippets config and put `$0` as your tabstop anywhere in the snippet. You can also add `$1`, `$2`,.. etc to add as many stop points as you like.

You can find more info here: https://code.visualstudio.com/docs/editor/userdefinedsnippets#_tabstops

I hope this helps.
Cheers🖖🏻,

[2021-04-19 13:39] #58 closed

[2021-04-19 18:57] yatki commented on #65
🎉 This issue was resolved in version 1.1.1 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.1.1)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2021-04-19 18:57] #65 closed

[2021-04-19 18:58] yatki commented on #61
🎉 This issue was resolved in version 1.1.1 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.1.1)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2021-04-19 18:58] #61 closed

[2021-04-19 18:58] yatki commented on #50
🎉 This issue was resolved in version 1.1.1 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.1.1)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2021-04-19 18:58] #50 closed

[2021-04-19 18:58] yatki commented on #49
🎉 This issue was resolved in version 1.1.1 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.1.1)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2021-04-19 18:58] #49 closed

[2021-04-19 18:59] yatki commented on #47
🎉 This issue was resolved in version 1.1.1 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.1.1)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2021-04-19 18:59] #47 closed

[2021-04-19 18:59] yatki commented on #6
🎉 This issue was resolved in version 1.1.1 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.1.1)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2021-04-19 18:59] #6 closed

[2021-04-19 19:11] yatki commented on #63
@RomanKornev just FYI, I've resolved this issue in version 1.1.1 while adding some new features. Thanks for reporting the issue.

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.1.1)

Cheers 🖖,

[2021-04-19 20:48] yatki commented on #55
@sytelus just FYI, I've resolved this issue in version 1.1.1 while adding some new features. Thanks for reporting the issue.

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.1.1)

Cheers 🖖,

[2021-04-20 14:27] RomanKornev commented on #63
@yatki Thanks, I'll check it out!

[2021-05-10 00:04] yatki commented on #64
duplicate of #8

[2021-05-10 00:04] #64 closed

[2021-07-15 21:10] alexgv99 opened #69 "surround with element not showing in jsx (.js) files..."
It used to work, but, today, I'm trying encapsulate some text into an element and the element didn't show in popup among other options. However, It work just fine if I run the surround.with.element command.

![image](https://user-images.githubusercontent.com/6002790/125857763-ace2c857-532c-4b8e-9d64-5153e92d7bad.png)

![image](https://user-images.githubusercontent.com/6002790/125857835-95cda800-02

[2021-07-16 10:28] yatki commented on #69
Hey @alexgv99, Thanks for reporting the issue. With the new version, I added language support to the extension.

So By default element wrapper only works with  "html", "typescriptreact", "javascriptreact", "jsx", "markdown".

Most people are using .jsx as a file extension in their react components. Maybe you can also rename your files to have `.jsx` extension.

If you want to continue working in j

[2021-07-16 10:28] #69 closed

[2021-07-18 12:33] Sti2nd commented on #8
Maybe it wouldn't be so hard to implement this 🤔 If one assumes that the existing code is indented correctly, the indent should be the same amount as the indent on the first line.

E.g. in the following image the indent should be 2 spaces, since there are two spaces before the first character
![image](https://user-images.githubusercontent.com/6373430/126064837-b2ba5a37-7c25-4c68-85cb-8fcee66307fb.

[2021-07-18 18:11] yatki commented on #8
Hey @Sti2nd thank you very much for your message. Did you also experience the same issue? Because it's not an issue with most people. Vs code is able to preserve the indentation automatically.. Could you please record your screen to show me how it happens? Also are you using tab characters or whitespace for tabs? I actually tested the extension with both settings and it was working fine.

If we ca

[2021-07-18 19:55] Sti2nd commented on #8
@yatki Here is a video!

https://user-images.githubusercontent.com/6373430/126080387-0dc5f9dc-5ec0-4a50-a83a-e2889edde920.mp4

2 whitespace is the indent in the video. I actually have this code in a [Dev container](https://code.visualstudio.com/docs/remote/containers) so if you can't reproduce I could share the repo with you 🙂

[2021-07-18 22:41] yatki commented on #8
Thank you very much for your efforts.. Much appreciated. Now i see the problem. So basically when i surround my code blocks i usually only select the text not the whitespaces before the line.. (whitespaces before const in your case). So i never experienced this problem. 😁😅

Maybe if you have time you can try to come up with a solution.. It might not be as straightforward as you think tho because v

[2021-07-19 07:26] Sti2nd commented on #8
I won't have time before the weekend, I think. I will post here if I begin to look into it! 😊 Otherwise you can just go ahead and fix it if you have time before me ✌️ 😁

[2021-07-19 18:20] yatki commented on #8
The issue is resolved in version 1.2.0. Thanks for reporting the issue.

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.2.0)

Cheers 🖖,

[2021-07-19 18:20] #8 closed

[2021-07-19 18:20] yatki commented on #2
The issue is resolved in version 1.2.0. Thanks for reporting the issue.

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.2.0)

Cheers 🖖,

[2021-07-19 18:21] yatki commented on #64
The issue is resolved in version 1.2.0. Thanks for reporting the issue.

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.2.0)

Cheers 🖖,

[2021-07-19 21:32] yatki opened #70 "Placeholders are not working for multiple selections"

[2021-07-19 21:37] yatki opened #71 "Add surround to formatter category"

[2021-07-20 07:52] Sti2nd commented on #8
Thank you, yatki! Good work! 🥇 👏

[2021-07-21 05:58] JordanMandel commented on #64
Is there a setting to turn this behavior off (either globally or per-surround snippet)?  I have a snippet I use all the time which is to add a parenthesis block and it's broken now because it surrounds the whole line even though I've highlighted a specific block of text

If I have this code,
[code]
and then I highlight the code "`some_condition is not None or some_condition == 42`", then it became

[2021-07-21 06:04] JordanMandel opened #72 "Setting to turn off new indentation behavior (in 1.2.0+) per-snippet"
Is there a setting to turn off the new indentation behavior (either globally or per-surround snippet)?  I have a snippet I use all the time which is to add a parenthesis block and it's broken now because it surrounds the whole line even though I've highlighted a specific block of text

If I had this code,
[code]
and then I highlighted the code "`some_object is not None or some_other_condition == 4

[2021-07-21 09:07] yatki commented on #72
Hmm.. Fair enough.. I think this is a good idea. I'll see what I can do this week or weekend ☝🏻😁

[2021-07-22 13:53] bszabo44 opened #73 "Not adhering to selected text"
VS Code v 1.58.2
Just reinstalled this plugin after a computer switch and not using for a couple months...
in html, I often use to put `<em>` or such around a short section of a string/line.  Suddenly seems to not be adhering to my selection, instead surrounding the entire string as it determines.  This was not an issue previously.

`<li><em>You will identify the metal from its work function.</em>

[2021-07-22 15:04] yatki commented on #73
@bszabo44 Thank you very much for reporting the issue. I was able to reproduce it. I'll look into it ASAP.

[2021-07-22 21:23] yatki commented on #73
🎉 This issue was resolved in version 1.2.1 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.2.1)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2021-07-22 21:23] #73 closed

[2021-07-22 21:24] yatki commented on #71
🎉 This issue was resolved in version 12.1 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.2.1)

[2021-07-22 21:24] #71 closed

[2021-07-30 05:13] nachopitt opened #74 "Multi selection is no longer supported starting from version 1.2.0"
1.1.2 still supports multi selection, but newer versions have this feature kind of broken. By broken I mean that, even though multiple selection lines are "selected" and to each one of them you would like to apply a "surround with" wrapper template, it simply won't work.

I find this feature very useful. Could you please bring it back to newest version?

Thanks in advance. Best regards.

[2021-07-30 07:05] yatki commented on #74
Hey @nachopitt.. Thanks for reporting the issue. I already created #70 for that..

Tbh, I thought nobody was using that feature, but it's nice to know that someone is finding it useful 😁👍🏻

I'll fix it asap.

[2021-07-30 16:38] yatki commented on #74
🎉 This issue was resolved in version 1.2.2 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.2.2)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2021-07-30 16:38] #74 closed

[2021-07-30 16:39] yatki commented on #70
🎉 This issue was resolved in version 1.2.2 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.2.2)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2021-07-30 16:39] #70 closed

[2021-07-30 16:41] yatki commented on #72
Hey @JordanMandel, after giving it a second thought, I decided the fix the root problem instead of disabling new indentation behaviour. Your problem should be resolved with version v1.2.2.

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.2.2)

D

[2021-07-30 16:41] #72 closed

[2021-07-30 17:32] mikeerickson opened #75 "Remove `multi selection` reference from readme"
As per your latest note

Might want to remove this "feature" listed in README

[2021-07-30 17:55] yatki commented on #75
Hey @mikeerickson thanks for message. I think there was a misunderstanding there.. There was a problem with multi selection and i actually fixed that bug :)

So multi selection is still supported :)🖖🏻😁

[2021-07-30 17:55] #75 closed

[2021-07-31 18:51] nachopitt commented on #74
Thanks a lot. I already tried it and it works perfectly!

Thanks again.

[2021-08-02 03:39] hl2guide opened #76 "Extension Setting for Notifications"
Please add a new boolean setting called "Show notification after each update".

That'd allow us to turn it off.

[2021-08-03 02:44] ffxsam opened #77 "[Feature Request] Add a way to customize placeholder variables"
When I surround this with try/catch:

[code]

I get this:
[code]

I always write `catch (e)` in my code, so it would be handy if we could somehow customize these code snippets. But obviously not the end of the world if it doesn't happen. 😉

[2021-08-03 13:50] yatki commented on #77
@ffxsam it is actually possible,

[code]

Just paste this in your settings, in order to override your existing setting. You can do this for any snippet or add your own snippets using `surround.custom` settings key. See the readme file for details.

Cheers,
Mehmet

[2021-08-03 13:50] #77 closed

[2021-08-03 13:52] yatki commented on #77
Sorry I copied the wrong setting at first, the updated one should work fine..

[2021-08-03 15:33] ffxsam commented on #77
@yatki Thanks! My mistake, I completely missed this.

[2021-08-21 11:39] heartacker opened #78 "all language support plan"
hi yatki,
thanks for you work,
and seems that this extension is native supported for typescript and javascript.
and these is also same feature for anyother languages.

after simple peeking of your code, it is implement by code snippet with `${TM_SELECTED_TEXT}`
and I believe that that will be a bad experience for user to add settings to support other language.

so, here is proposal :
1. scan the s

[2021-08-22 14:42] yatki commented on #78
Hey @heartacker, thank you very much for your interest.

This was actually in my mind for a long time now, but just couldn't find time to work on it. Also, it's not that straightforward because vscode API doesn't allow you to read existing snippets, so they have to be stored in a custom json file.

If you'd like to contribute to this, I'd love to have this feature but I don't have time to add it i

[2021-09-16 18:08] Sti2nd commented on #8
I think this bug came back @yatki ? Can you reproduce?

[2021-09-16 18:13] yatki commented on #8
@Sti2nd which version are you using? Could you please share the code that you are trying to surround?

[2021-09-16 18:24] Sti2nd commented on #8
Version 1.2.2.

Here is a video

https://user-images.githubusercontent.com/6373430/133665016-5033ed95-ba49-4d5e-8547-ad36f7445620.mp4

[2021-09-17 20:11] yatki commented on #8
@Sti2nd this is very weird. I am not able to reproduce this issue. Are you using tabs or spaces as whitespace?

[2021-10-07 04:29] rickymohk opened #79 "Add settings for curly braces on new line"
It would be nice to have option for adding curly braces on new line. Similar to the vs code settings.

![image](https://user-images.githubusercontent.com/17548814/136320429-b0ed02d6-42f1-41f7-ae25-d42024073238.png)

[2021-11-08 21:33] Sti2nd commented on #8
Using spaces @yatki , but it doesn't make any difference 🤷

[2021-11-08 21:46] yatki commented on #8
That is super weird. I wrote an exact copy of your code just to see if there is a weird character or something that prevents it but it works like a charm in mac and windows..

I assume you are using the latest version of vscode right?  Did you try it in different files or on different code blocks? What is the encoding of the file?

The only problem I can think of a hidden character is messing up t

[2021-11-08 22:01] Sti2nd commented on #8
Tried in another project as well since I thought it might be because of the DEV container environment, but got the same result in a "regular" TS project. I will try to make time to test in different environments, but can't promise anything.

I have VS Code 1.62.0 User setup; extension is v1.2.2; input language in Windows is set to English with Norwegian keyboard.
When you try to reproduce you mark

[2021-11-10 18:57] JordanMandel opened #80 "Snippets not inserted when nothing is selected"
I know the extension is called "Surround", implying you need to surround _something_ :) However this actually used to work with the extension: you used to be able to insert a snippet with nothing selected. But in some recent update (last couple of months?) you have to have something selected for a snippet to be inserted.  Would it be possible to make this work again without a selection? Thanks!

[2021-11-10 21:21] yatki opened #81 "Add Browser Support"

[2022-04-04 20:01] haoadoresorange opened #83 "Custom snippet list is broken after first surround"
I have several custom snippet.
I just noticed that, after firing up vscode and use it for the first time, it will be the only option that shows in the custom snippet list after.

For example if I have A B C as custom snippets, I open vscode and use B, after that every command `Surround with` will only have B as the custom one, A and C disappear.

EDIT: I just checked and the error started with ver

[2022-04-04 21:06] yatki commented on #83
Hey @haoadoresorange thanks for reporting the issue.. I'll look into it asap 👍🏻

[2022-05-02 13:26] yatki commented on #80
Hey @JordanMandel,

You can go to Keyboard Shorcuts, search for **surround** basically remove the `editorHasSelection` condition from the **When** Expression.

That should help. 🖖🏻

![image](https://user-images.githubusercontent.com/26697004/166241068-a5d5c04e-0869-49b7-8d8e-6324fe69726c.png)

[2022-05-02 15:16] #76 closed

[2022-05-02 15:16] #83 closed

[2022-05-02 15:37] yatki commented on #76
🎉 This issue was resolved in version 1.3.0 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.3.0)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2022-05-02 15:37] yatki commented on #83
🎉 This issue was resolved in version 1.3.0 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.3.0)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2022-05-02 17:41] JordanMandel commented on #80
Hi, thanks for the response. Unfortunately, that's not quite the issue. I already have the shortcut bound without any conditions
![image](https://user-images.githubusercontent.com/2067843/166297198-7f1c7909-69b5-4ab3-b28f-4ff05ed756ac.png)

So, the menu of surround snippets appear just fine, but if there is no selection, then no snippet gets inserted into the editor.

[2022-05-05 18:02] JordanMandel commented on #80
Snippets are another option, but I prefer your extension :) I'll give you an example of a use case where this change gets in my way.

I have a surround-with template for inserting PowerShell functions. Sometimes I have a piece of code at the global level that I want to wrap into a function and then surround-with works fine for this.  But often I just want to create a blank function. To do that rig

[2022-08-07 17:31] carllerche commented on #80
I found this issue when I hit the same case.

Personally, my expectation for running "surround" with no selection is it would default to the current line.

[2022-08-08 16:02] yatki commented on #80
Hmm. Ok, I'll add it back :D

[2022-08-08 17:37] yatki commented on #80
🎉 This issue was resolved in version 1.4.0 🎉

The release is available on:
- [VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround)
- [GitHub release](https://github.com/yatki/vscode-surround/releases/tag/v1.4.0)

Don't forget to update your extension and leave a star :)
Cheers🖖🏻,

[2022-08-08 17:37] #80 closed

[2022-08-08 21:36] #81 closed

[2022-09-04 22:28] nitindudeja2107 opened #86 "#merge"
ADD ISSUE DESCRIPTION HERE

Version: 1.71.0
Commit: 784b0177c56c607789f9638da7b6bf3230d47a8c
User Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36
Embedder: vscode.dev

Extension version: 1.5.0

[2022-09-04 22:28] #86 closed, assigned to nobody

[2022-11-16 16:18] femto-code opened #87 "Consider switching to another activation event policy"
First, thanks for this extension! Just a minor thing: I noticed this extension will be activated whenever VSC starts up.

As the API reference states:

There are some other similar extensions that use a more specific activation event to activate only when needed (e.g. when a surround command is triggered).

[2022-11-19 18:26] yatki commented on #87
Hey @femto-code. Thank you very much for the feedback. Yes, you are totally right and I'm aware of that. When I released the extension, activation events were causing the extension to start with a slight lag. I wanted to avoid that back then.

I totally agree that it's the best practice but since the activation function is only triggered once, and the extension is very lightweight I don't think it